*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    background-color: black;
}
/* header css */
.header{
  padding: 30px;
    display: flex;
    justify-content: space-evenly;
}
.header h1{
    text-transform: uppercase;
    color: white;
    font-size: 50px;
    padding: 20px 0px;
}
.header h2{
    color: rgb(68, 67, 67);
    text-align: center;
    font-size: 50px;
    padding: 20px 20px;
    cursor:pointer;

}

/* hr css */
hr{
    height: 2.5px;
    background-color: white;
}

/* navbar css */
.navbar{
   width: 80%;
   margin-left: 170px;
}
.navbar ul{
    display: flex;
    justify-content: center;
    padding: 40px 0px 90px 0px;
}
.navbar ul li{
    list-style: none;
    font-size: 30px;
    color: rgb(68, 67, 67);
    padding:  20px;
    text-transform: uppercase;
}
.navbar ul .active{
   width: 50px;
   height: 20px;
    
}

.navbar ul li:hover{
    color: white;
    cursor: pointer;
}

/* main section css */
.main {
    background-image: url("../images/body\ images.jpg");
    padding: 2px;
    width: 100%;

    background-size: cover;
   
   
}
.main .heading{

    font-size: 50px;
    color: white;
    text-align: left;
    margin-top: 200px;
    padding: 50px 0px 0px 80px;
    text-transform: uppercase;
    font-weight: bolder;

}
.main .heading-1{
    width: 50%;
    font-size: 60px;
    color: white;
    text-align: left;
    padding: 50px 0px 0px 80px;
    text-transform: capitalize;
    font-weight: bold;

}

.main .para{
    width: 50%;
    font-size: 30px;
    color: white;
    line-height: 50px;
    padding: 50px 0px 0px 80px;
    text-transform: capitalize;
}










/* media query for header */
@media screen and (max-width:980px) {
    .header{
        display: block;
        text-align: center;
    }
}
@media screen and (max-width:410px) {
    .header{
        display: block;
        text-align: center;
    }
    .header h1{
        font-size: 30px;
    }
    .header h2{
        font-size: 30px;
    }
}


/* navbar media query */
@media screen and  (max-width:1700px){
    .navbar{
        width: 100%;
        margin: 0;
    }
    
}
@media screen and  (max-width:1230px){
    .navbar{
        width: 100%;
        margin: 0;
    }
    .navbar ul{
        display: grid;
        grid-template-columns: auto auto auto auto;
    }
}

@media screen and  (max-width:1230px){
    .navbar{
        width: 100%;
        margin: 0;
    }
    .navbar ul{
        display: grid;
        grid-template-columns: auto auto auto auto auto ;
    }
    .navbar ul li{
        padding: 20px;
    }
}
@media screen and  (max-width:772px){
    .navbar{
        width: 100%;
        margin: 0;
    }
    .navbar ul{
        display: grid;
        grid-template-columns: auto auto auto ;
    }
}
.navbar ul li{
    font-size: 30px;
padding: 10px;

}
@media screen and  (max-width:700px){
    .navbar{
        width: 100%;
        margin: 0;
    }
    .navbar ul{
        display: grid;
        grid-template-columns: auto auto  ;
    }
    .navbar ul li{
        font-size: 30px;
 padding: 20px;
    }
}
@media screen and  (max-width:502px){
    .navbar{
        width: 100%;
        margin: 0;
    }
    .navbar ul{
        display: grid;
        grid-template-columns: auto auto  ;
    }
    .navbar ul li{
        font-size: 20px;
 padding: 20px;
    }
}
/* main dection media query */

@media screen and (max-width:1290px) {
    .main {
        background-position: center;
    }
}



@media screen and (max-width:890px) {
    .main {
        background-position: center;
    }
    .main .heading{
        font-size: 30px;
        
    }
    .main .heading-1{
        font-size: 50px;
        width: 70%;
    }
    .main .para{
        font-size: 20px;
        width: 60%;
    }
    
}
@media screen and (max-width:676px) {
    .main {
        background-position:center;
    }
    .main .heading{
        font-size: 30px;
        text-align: left;
        
        
    }
    .main .heading-1{
        font-size: 40px;
        width: 70%;
        text-align: left;
      
    }
    .main .para{
        font-size: 20px;
        width: 60%;
        text-align: left;
      
    }
    
}
@media screen and (max-width:600px) {
    .main {
    
        background-position:calc();
    }
}
