*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    background-color: black;
}
/* header css */
.header{
  padding: 30px;
    display: flex;
    justify-content: space-evenly;
}
.header h1{
    text-transform: uppercase;
    color: white;
    font-size: 50px;
    padding: 20px 0px;
}
.header h2{
    color: grey;
    text-align: center;
    font-size: 50px;
    padding: 20px 20px;
    cursor:pointer;

}

/* hr css */
hr{
    height: 2.5px;
    background-color: white;
}

/* navbar css */
.navbar{
   width: 80%;
   margin-left: 170px;
}
.navbar ul{
    display: flex;
    justify-content: center;
}
.navbar ul li{
    list-style: none;
    font-size: 30px;
    color: grey;
    padding: 50px 20px;
    text-transform: uppercase;
}
.navbar ul .active{
   width: 50px;
   height: 20px;
    
}

.navbar ul li:hover{
    color: white;
    cursor: pointer;
}






/* media query for header */
/* for 980px screen */
@media screen and (max-width:980px) {
    .header{
        display: block;
        text-align: center;
    }
}
/* for 410 px screen */
@media screen and (max-width:410px) {
    .header{
        display: block;
        text-align: center;
    }
    .header h1{
        font-size: 30px;
    }
    .header h2{
        font-size: 30px;
    }
}


/* navbar media query */
@media screen and  (max-width:1700px){
    .navbar{
        width: 100%;
        margin: 0;
    }
    
}
@media screen and  (max-width:1230px){
    .navbar{
        width: 100%;
        margin: 0;
    }
    .navbar ul{
        display: grid;
        grid-template-columns: auto auto auto auto;
    }
}

@media screen and  (max-width:1230px){
    .navbar{
        width: 100%;
        margin: 0;
    }
    .navbar ul{
        display: grid;
        grid-template-columns: auto auto auto auto auto ;
    }
    .navbar ul li{
        padding: 20px;
    }
}
@media screen and  (max-width:772px){
    .navbar{
        width: 100%;
        margin: 0;
    }
    .navbar ul{
        display: grid;
        grid-template-columns: auto auto auto ;
    }
}
.navbar ul li{
    font-size: 30px;
padding: 10px;

}
@media screen and  (max-width:700px){
    .navbar{
        width: 100%;
        margin: 0;
    }
    .navbar ul{
        display: grid;
        grid-template-columns: auto auto  ;
    }
    .navbar ul li{
        font-size: 30px;
 padding: 20px;
    }
}
@media screen and  (max-width:502px){
    .navbar{
        width: 100%;
        margin: 0;
    }
    .navbar ul{
        display: grid;
        grid-template-columns: auto auto  ;
    }
    .navbar ul li{
        font-size: 20px;
 padding: 20px;
    }
}